# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\97_pycharm_project\recog-author-by-line-text\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
